[Unit]
Description=piccolo web frontend
After=piccolo3-server.service

[Service]
Type=simple
ExecStart=/usr/sbin/piccolo3-web
StandardOutput=file:/var/log/piccolo3-web.log
StandardError=file:/var/log/piccolo3-web.err
Restart=on-failure

[Install]
WantedBy=multi-user.target
