[Unit]
Description=piccolo2-reboot daemon

[Service]
Type=simple
ExecStart=/usr/sbin/piccolo2-reboot
Restart=on-failure

[Install]
WantedBy=multi-user.target