#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt/venv

%:
	dh $@ --with systemd --with python-virtualenv -S --install-suffix piccolo2-server  --upgrade-pip --preinstall setuptools-scm==1.15.6

override_dh_installinit:
	dh_installinit --name=piccolo2-server
	dh_installinit --name=piccolo2-reboot
