#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt/venv

%:
	dh $@ --with systemd --with python-virtualenv 

override_dh_virtualenv:
	dh_virtualenv --python python3 --use-system-packages --install-suffix piccolo3-server

override_dh_installinit:
	dh_installinit --name=piccolo3-server
	dh_installinit --name=piccolo3-reboot
	dh_installinit --name=piccolo3-web
