Source: seabreeze
Maintainer: Andreas Poehlmann <mail@andreaspoehlmann.de>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all-dev (>= 2.6.6-3), python3-all-dev (>= 3.4.2-2), debhelper (>= 9), python3-setuptools, libseabreeze-dev, swig, python-usb, python3-usb
Standards-Version: 3.9.1
X-Python3-Version: >= 3.4

Package: python-seabreeze
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Python interface module for oceanoptics spectrometers
 Python-seabreeze is the easy way to access your Ocean Optics spectrometers from
 python. It wraps the SeaBreeze library provided by Ocean Optics to communicate
 with the spectrometer. If SeaBreeze is not available it can fallback to a pyUSB
 based reimplementation. 

Package: python3-seabreeze
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Python interface module for oceanoptics spectrometers
 Python-seabreeze is the easy way to access your Ocean Optics spectrometers from
 python. It wraps the SeaBreeze library provided by Ocean Optics to communicate
 with the spectrometer. If SeaBreeze is not available it can fallback to a pyUSB
 based reimplementation.
 This is the Python 3 version of the package.

