Source: piccolo2-player-bundle
Section: python
Priority: extra
Maintainer: Magnus Hagdorn <magnus.hagdorn@ed.ac.uk>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.8)
Standards-Version: 3.9.5

Package: piccolo2-player-bundle
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, python-numpy, python-qt4, python-matplotlib
Description: Part of the piccol2 system
 This package provides common modules
